{% extends "P4LouvreBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Coordonnées des visiteurs {% endblock %}

{% block content %} <div class="well">
    {{ form(form) }}
    </div>{% endblock %}
