@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.img-thumbnail
{
    width: 1000px;
    height: auto;
}

.card-header
{
	font-weight: bold;
	padding-bottom: 52px;
}
.card{
	font-weight: bold;
}

ul
{
	list-style-type: none;
}
span
{
	font-style: italic;
}
li
{
	padding-bottom: 2px;
}
.table-responsive li
{
	text-align: left;
}

body{
	padding-top: 70px;
}
.navbar ul li
{
	padding-left: 10px;
	padding-top: 15px;
}
.bg-success, .bg-danger
{
	padding: 10px;
	margin-top: 20px;
	margin-right: 30px;
}
.bg-primary
{
	padding: 10px;
	margin-bottom: 40px;
}
.footer
{
	color : white;
	margin-top: 800px;
}
#headerTitle {
	margin-left: 20px;
	font-size: 15px;
	font-family: "PT Serif";
	color: white;
	font-style: normal;
}
.headerNav {
	text-decoration: none;
}
.flags
{
	text-align: center;
}
ol
{
	text-align: center;
}
.breadcrumb
{
	background-color: black;
}
.breadcrumb a
{
	color: white;
	text-decoration: none;
}










