#homepage
{
    text-align: center;
}
.img-thumbnail
{
    width: 1000px;
    height: auto;
}

.navbar-inverse .navbar-brand
{
    color: white;
    font-size: 25px;
    font-family: Granjon;
}
h1.display-3
{
    font-family: Granjon;
}

.card
{
	border: 1px solid black;
}
.card-header
{
	font-weight: bold;
}
.jumbotron
{
	background-color: #f5f5f5;
}
ul
{
	list-style-type: none;
}
span
{
	font-style: italic;
}
li
{
	padding-bottom: 2px;
}
.table-responsive li
{
	text-align: left;
}



